li{
    float: left;
    margin: 0 15px;
    list-style-type: none;
}
ul{
    width: 40%;
    margin: auto;
}
#footer{
margin-top: 20px;
}
.frontBox{
    height: 600px;
    width: 50%;
    position: fixed;
    top: auto;
    position: relative;
    animation: grow 2s;
    margin: auto;
    color: white;
}
html {
    height: 100%;
}

#meetTheTeam{
    width: 330px;
}
#copyright{
    float: right;
}

a{
    font-weight: 700;
}
#login{
    padding-top: 50px;
    margin-top: 80px;
    margin-bottom: 80px;
    height: 480px;
    width: 350px;
    border-style: solid;
    border-color: black;
    color: white;
    text-align: center;
}
#teamInfo{
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    text-shadow: 1px 2px 4px black;
    text-align: center;
    margin: auto;
    width: 60%;

}
.teambox{
    background-size: cover;
    position: relative;
    background-image: url('images/TeamBackground.png');
}
.portrait{
    float: fixed;
    height: 150px;
    width: 150px;

}
.frames{
    position: absolute;
    height: 200px;
    width: 200px;
    margin: -25px 0px 0px -100px;
}