* { padding: 0; margin: 0; }
li{
    float: left;
    margin: 0 15px;
    list-style-type: none;
}
ul{
    width: 50%;
    margin: auto;
}
#footer{
margin-top: 20px;
}
/* .frontBox{
    height: 600px;
    width: 50%;
    position: fixed;
    top: auto;
    position: relative;
    animation: grow 2s;
    margin: auto;
    color: white;
} */
.homeApp{
    height: 85%
}

.mainbox{
    min-height: 100% !important;
    height: 100%;
    background-size: cover;
    position: relative;
    background-image: url('images/background.png');
}


#copyright{
    float: right;
}

a{
    font-weight: 700;
}
#login{
    padding-top: 50px;
    margin-top: 80px;
    margin-bottom: 80px;
    height: 480px;
    width: 350px;
    border-style: solid;
    border-color: black;
    color: white;
    text-align: center;
}
#info{
    padding-top: 100px;
    /* margin-top: 80px;
    margin-bottom: 80px; */
    height: 480px;
    width: 350px;
    color: white;
    text-shadow: 1px 2px 4px black;
    text-align: center;
    margin: auto;
}
.section{
    /* background-image: url('images/background.jpg'); */

}


/* .climb{
    animation: slideRight 800ms;
    position: relative;
    left: 80px;
}
@keyframes slideRight{
    from {
        left: -20px;
        opacity: 0%;
    }
    to {
        left: 80px;
    }
  }

.run{
    animation: slideleft 800ms;
    position: relative;
    left: -80px;
}
@keyframes slideleft{
    from {
        left: 20px;
        opacity: 0%;
    }
    to {
        left: -80px;
    }
  }
@keyframes grow{
    0%{
        transform: scale(.8);
        opacity: 0;
    }
    40%{        
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 80%;
    }

} */