.frontBox{
    height: 600px;
    width: 50%;
    position: fixed;
    top: auto;
    /* background-color: white; */
    position: relative;
    /* top: 30px; */
    animation: grow 2s;
    text-align: center;
    opacity: 80%;
    margin: auto;
    color: white;
}
.mainbox{
    height: 700px;
    background-size: cover;
    position: relative;
    /* left: 0;
    top: 0;
    width: 100%; */
    /* height: auto; */
    /* object-fit: cover; */
    /* display: block;
    opacity: 1;
    transition: opacity 0.5s ease-in-out 0s;
    box-sizing: border-box; */
    /* background-image: url('images/background.jpg'); */
    background-color: #8d3fd0;
}

a{
    font-weight: 700;
}
#login{
    padding-top: 50px;
    margin-top: 80px;
    margin-bottom: 80px;
    height: 480px;
    width: 350px;
    border-style: solid;
    border-color: black;
}
.section{
    /* background-image: url('images/background.jpg'); */

}


/* .climb{
    animation: slideRight 800ms;
    position: relative;
    left: 80px;
}
@keyframes slideRight{
    from {
        left: -20px;
        opacity: 0%;
    }
    to {
        left: 80px;
    }
  }

.run{
    animation: slideleft 800ms;
    position: relative;
    left: -80px;
}
@keyframes slideleft{
    from {
        left: 20px;
        opacity: 0%;
    }
    to {
        left: -80px;
    }
  }
@keyframes grow{
    0%{
        transform: scale(.8);
        opacity: 0;
    }
    40%{        
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 80%;
    }

} */