* {
  box-sizing: border-box;
  padding: 0;
}

div {
  padding: 2px;
}

h1, h2 {
  color: #161B7F;
}

h1 {
  font-size: 2em !important;
}

h2 {
  font-size: 1.5em !important;
}

h3 {
  font-size: 1em !important;
  color: #ED3D63 !important;
}

label {
  color: #223CCF;

  margin-top: 0.5em !important;
}

button {
  margin-left: 0.5em !important;
}

.containerCard {
  margin: 0.5em;
}

.card-header {
  padding: 0.5em !important;
}

.card-body {
  padding: 0.5em !important;
}