* {
  box-sizing: border-box;
  padding: 0;
}

#current {
  height: 100%;
  width: 100%;
}

#current-img {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
}

div {
  padding: 2px;
}

h1 {
  font-size: 2em !important;
}

h2 {
  font-size: 1.5em !important;
}

h3, .dayToDelete {
  font-size: 1em !important;
  color: #ED3D63 !important;
}

h4 {
  font-size: 1em !important;
}

label {
  color: #223CCF;

  margin-top: 0.5em !important;
}

button {
  margin-left: 0.5em !important;
}

.containerCard {
  margin: 0.5em;
}

.card-header {
  padding: 0.5em !important;
}

.card-body {
  padding: 0.5em !important;
}

.alert-heading {
  font-size: 1em !important;
}

.alert {
  color: red;
  display: none;
  margin: 0 !important;
  padding: 2 !important;
}

select {
  width: 200px;
  height: 50px;
}

option {
  font-size: 1.2em;
}

.everythingTracker {
  background-color: lightsteelblue !important;
}

.dataEntry {
  background-color: #c2bddb !important;
}